<nav
    class="navbar navbar-expand-xl navbar-light bg-dark w-75 mt-2 shadow-lg mx-auto rounded-3"
>
    <div class="container">
        <div class="links">
            <a class="navbar-brand text-white" href="#">Agenda Telef&oacute;nica</a>
            <button
                class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="collapsibleNavId">
            <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#agregarContactoModal">
                Agregar Contacto
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarContactosModal">
                Eliminar Contactos
            </button>
        </div>
    </div>
</nav>
